{% ckan_extends %}

		{% block resource_actions_inner %}
            {# if h.check_access('package_update', {'id':pkg.id }) %}
              <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn btn-default', icon='wrench' %}</li>
            {% endif #}
            {% if res.url and h.is_url(res.url) %}
              <li>
                <div class="btn-group">
                  <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
                    {% if res.resource_type in ('listing', 'service') %}
                      <i class="fa fa-lg fa-eye"></i> {{ _('View') }}
                    {% elif  res.resource_type == 'api' %}
                      <i class="fa fa-lg fa-key"></i> {{ _('API Endpoint') }}
                    {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
                      <i class="fa fa-lg fa-external-link"></i> {{ _('Go to resource') }}
                    {% else %}
                      <i class="fa fa-lg fa-arrow-circle-o-down"></i> {{ _('Download') }}
                    {% endif %}
                  </a>
                  {% block download_resource_button %}
                    {%if res.datastore_active %}
                      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, bom=True) }}"
                            target="_blank"><span>CSV</span></a>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='tsv', bom=True) }}"
                            target="_blank"><span>TSV</span></a>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='json') }}"
                            target="_blank"><span>JSON</span></a>
                          <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='xml') }}"
                            target="_blank"><span>XML</span></a>
                        </li>
                      </ul>
                    {%endif%}
                  {% endblock %}
                  {% if (h.is_crige_partner()) and ( res.extracting_service == 'True') %}
				  	{% if res.data_type == 'service' %}
				      <a href="{{ h.idgotheme_get_url_publier() }}/extractor/?layer={{ res.id }}" class="btn btn-primary" target="_blank">
				        <i class="fa fa-lg fa-filter"></i>
			            <span>Extracteur</span>
			          </a>
	                  <a id="show-modal-api-geo" class="btn btn-primary" data-toggle="modal" data-target="#modal-api-geo"><i class="fa fa-lg fa-flask"></i> API Géo</a>
			        {% else %}
        			  <a href="{{ h.idgotheme_get_url_publier() }}/extractor/?resource={{ res.id }}" class="btn btn-primary" target="_blank">
			            <i class="fa fa-lg fa-filter"></i>
			            <span>Extracteur</span>
			          </a>
			        {% endif %}
				  {% endif %}
	            </div>
              </li>
            {% endif %}
		{% endblock %}

		{% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
			  <b>URL</b><div><a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></div>
            {% elif res.url %}
			  <b>URL</b><div>{{ res.url }}</div>
            {% endif %}
			<br>
        {% endblock %}

		{% block resource_view_content %}
            {% if res.format == 'WMS' %}
                <div id="resource-geo-legend" class="dropdown dropdown-right">
                	<button class="btn btn-primary" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
    					Légende <span class="caret"></span>
					</button>
					<ul class="dropdown-menu dropdown-menu-right" aria-labeledby="dLabel">
                        <img src="{{ res.getlegendgraphic }}">
					</ul>     
                </div>
            {% endif %}
	        {{ super() }}
        {% endblock %}
