{% ckan_extends %}

{% block subtitle %}{{ _('About') }} - {{ super() }}{% endblock %}

{% block primary_content_inner %}
<h1>{% block page_heading %}{{ c.group_dict.display_name }}{% endblock %}</h1>
{% block organization_description %}
{% if c.group_dict.description %}
{{ h.render_markdown(c.group_dict.description) }}
{% endif %}
{% endblock %}
{% block organization_extras %}
{% set org_extras = c.group_dict.extras %}
<div class="org-info-contact">
  <div>CONTACT</div>
  <hr />

  {% for item in org_extras if (item.key == "address") and (item.value != '') %}
  <span class="fa fa-home" aria-hidden="true"></span>
  <span name="address">
    {{ item.value }}
  </span><br>
  {% endfor %}

  <span class="fa fa-home" style="color:#fcfcfc;" aria-hidden="true"></span>
  <span name="postcode">
    {% for item in org_extras if (item.key == "postcode") and (item.value != '') %}
    {{ item.value }}
    {% endfor %}
  </span>

  <span name="city">
    {% for item in org_extras if (item.key == "city") and (item.value != '') %}
    {{ item.value }}
    {% endfor %}
  </span><br>

  {% for item in org_extras if (item.key == "phone") and (item.value != '') %}
  <span class="fa fa-phone" aria-hidden="true"></span>
  <span name="phone">
    {{ item.value }}
  </span><br>
  {% endfor %}

  {% for item in org_extras if (item.key == "email") and (item.value != '') %}
  <span class="fa fa-envelope" aria-hidden="true"></span>
  <a name="email" href="mailto:{{ item.value }}">{{ item.value }}</a><br>
  {% endfor %}

  {% for item in org_extras if (item.key == "website") and (item.value != '') %}
  <span class="fa fa-globe" aria-hidden="true"></span>
  <a target="_blank" name="website" href="{{ item.value }}">{{ item.value }}</a><br>
  {% endfor %}
</div>
{% endblock %}
{% endblock %}
