{% ckan_extends %}

{% block primary %}
<div class="primary span12">
  {% block primary_content %}
  <article class="module">
    {% block page_header %}{% endblock %}
    <div class="module-content">
      {% if self.page_primary_action() | trim %}
      <div class="page_primary_action">
        {% block page_primary_action %}{% endblock %}
      </div>
      {% endif %}
      {% block primary_content_inner %}
      <h1 class="hide-heading">{% block page_heading %}{{ _('Organizations') }}{% endblock %}</h1>
      {% block organizations_search_form %}
      {% snippet 'snippets/search_form.html', form_id='organization-search-form', type='organization', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search organizations...'), show_empty=request.params,
      no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
      <div id="affich-mode">
        <button data-affich="grid" class="active"><i class="fa fa-th" aria-hidden="true"></i></button>
        <button data-affich="list"><i class="fa fa-bars" aria-hidden="true"></i></button>
      </div>
      {% endblock %}
      {% block organizations_list %}
      {% if c.page.items or request.params %}
      {% if c.page.items %}
      {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% endif %}
      {% else %}
      <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
        {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
      </p>
      {% endif %}
      {% endblock %}
      {% block page_pagination %}
      {{ c.page.pager(q=c.q or '', sort=c.sort_by_selected or '', view_mode=c.view_mode or 'grid') }}
      {% endblock %}
      {% endblock %}
    </div>
  </article>
  {% endblock %}
</div>
{% endblock %}

{% block secondary %}{% endblock %}
