{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div>
	{% block resource_item_title %}
  	<a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) | truncate(50) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
      {{ h.popular('views', res.tracking_summary.total, min=10) }}
  	</a>
	{% endblock %}
    {% block resource_item_description %}
      {% if res.size %}
        <div name="size" data-size="{{ res.size }}"><span class="label label-default" name="size-value"></span></div>
      {% endif %}
      <p class="description">
        {% if res.description %}
          {{ h.markdown_extract(h.get_translated(res, 'description'), extract_length=80) }}
        {% endif %}
      </p>
    {% endblock %}
  </div>
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary" data-toggle="dropdown">
   	  <i class="fa fa-share"></i> Explorer 
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
      {% block resource_item_explore_links %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_views', id=pkg.name, resource_id=res.id) }}">
          <i class="fa fa-bar-chart-o"></i>
          <span>Éditer les vues</span>
        </a>
      </li>
      {% endif %}
	  {% if res.data_type != "service" %}
	  <li>
        <a href="{{ res.url }}" target="_blank">
        {% if res.has_views or res.url_type == 'upload' %}
          <i class="fa fa-arrow-circle-o-down"></i>
          <span>{{ _('Download') }}</span>
        {% else %}
          <!-- S'applique aux urls referencees (meme comportement) -->
          <i class="fa fa-arrow-circle-o-down"></i>
          <span>{{ _('Download') }}</span>
        {% endif %}
        </a>
	  </li>
      {% endif %}
	  {% if (h.is_crige_partner()) and ( res.extracting_service == 'True') %}
	  <li>
        {% if res.data_type != "service" %}
        <a href="{{ h.idgotheme_get_url_publier() }}/extractor/?resource={{ res.id }}" target="_blank">
          <i class="fa fa-filter"></i>
          <span>Extracteur</span>
        </a>
        {% endif %}
	  </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  <!--div class="btn-group">
	{% if can_edit %}
	  <a href="{{ h.url_for(controller='package', action='resource_views', id=pkg.name, resource_id=res.id) }}" class="btn btn-primary">
        <i class="fa fa-bar-chart-o"></i>
        <span>Éditer les vues</span>
      </a>
	{% endif %}
    {% if res.data_type != "service" %}
	<a href="{{ res.url }}" class="btn btn-primary" target="_blank">
      {% if res.has_views or res.url_type == 'upload' %}
        <i class="fa fa-arrow-circle-o-down"></i>
      	<span>{{ _('Download') }}</span>
      {% else %}
        <i class="fa fa-arrow-circle-o-down"></i>
        <span>{{ _('Download') }}</span>
      {% endif %}
    </a>
    {% endif %}
    {% if (h.is_crige_partner()) and ( res.extracting_service == 'True') %}
      {% if res.data_type != "service" %}
        <a href="{{ h.idgotheme_get_url_publier() }}/extractor/?resource={{ res.id }}" class="btn btn-primary" target="_blank">
          <i class="fa fa-filter"></i>
          <span>Extracteur</span>
        </a>
      {% endif %}
    {% endif %}
  </div-->
  {% endif %}
  {% endblock %}
</li>
