{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  <div>
    {% block resource_item_title %}
    <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) | truncate(60) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
      {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
    {% endblock %}
    {% block resource_item_description %}
    <div>
      {% if res.Size %}
      <span name="size" data-size="{{ res.Size }}"><span class="label label-default" name="size-value"></span></span>
      {% elif res.size %}
      <span name="size" data-size="{{ res.size }}"><span class="label label-default" name="size-value"></span></span>
      {% endif %}
      {% if res.tracking_summary and res.data_type != "service" %}
      {% if res.tracking_summary.total == 1 %}
      <span class="label label-tracking">{{ res.tracking_summary.total }} téléchargement</span>
      {% elif res.tracking_summary.total > 1 %}
      <span class="label label-tracking">{{ res.tracking_summary.total }} téléchargements</span>
      {% endif %}
      {% endif %}
    </div>
    {% endblock %}
  </div>
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="btn-group">
    {% set formats_visu = ["GEOJSON","WMS","XLS","XLSX","PDF","JSON","XML","JPEG","ODS","PNG","TXT","GIF","HTML","CSV"] %}
    {% set res_api = h.get_res_api(res) %}

    {# if res.format.upper() in formats_visu #}
    <a href="{{ url }}" class="btn btn-primary" data-toggle="tooltip" title="Visualiser">
      <i class="fa fa-lg fa-eye"></i>
    </a>
    {# endif #}

    {% if h.is_idgo_partner() and res.rastertile_extract == 'True' %}
    <a href="{{ h.idgotheme_get_url_rastertile_extract(res.id) }}" class="btn btn-primary" target="_blank" data-toggle="tooltip" title="Extracteur de dalles">
      <i class="fa fa-globe"></i>
    </a>
    {% else %}
    <span data-toggle="modal" data-target="#extractor-redirect-modal-res-list">
      <a class="btn btn-primary" data-toggle="tooltip" title="Extracteur de dalles">
        <i class="fa fa fa-globe"></i>
      </a>
    </span>
    {% endif %}

    {% if res.data_type != "service" and ( res.extracting_service == 'True') %}
    {% if (h.is_idgo_partner()) %}
    <a href="{{ h.idgotheme_get_url_extracteur() }}?{% if res_api.lineage == 'idgo_resource_raster_tile' %}resource_beta{% else %}resource{% endif %}={{ res.id }}" class="btn btn-primary" target="_blank" data-toggle="tooltip" title="Extracteur">
      <i class="fa fa-lg fa-filter"></i>
    </a>
    {% else %}
    <span data-toggle="modal" data-target="#extractor-redirect-modal-res-list">
      <a class="btn btn-primary" data-toggle="tooltip" title="Extracteur">
        <i class="fa fa-lg fa-filter"></i>
      </a>
    </span>
    {% endif %}
    {% endif %}

    {% if can_edit and res.data_type != "service" %}
    <a href="{{ h.url_for(controller='package', action='resource_views', id=pkg.name, resource_id=res.id) }}" class="btn btn-primary" data-toggle="tooltip" title="Éditer les vues">
      <i class="fa fa-lg fa-bar-chart-o"></i>
    </a>
    {% endif %}

    {% if res.data_type != "service" %}
      {% set ihm_settings = h.get_ihm_settings() %}
      {% if ihm_settings['download-modal-res-list'].active == False %}
        {% if not res_api.lineage == 'idgo_resource_raster_tile' %}
        <a href="{{ res.url }}" class="btn btn-primary download-button-resource resource-url-analytics" target="_blank" data-toggle="tooltip" title="Télécharger">
          <i class="fa fa-lg fa-arrow-circle-o-down"></i>
        </a>
        {% endif %}
      {% else %}
        <span class="open-download-modal" data-toggle="modal" data-target="#download-modal-res-list"
          data-datasetname="{{ pkg.name }}"
          data-datasettitle="{{ pkg.title }}"
          data-datasetcreationdate="{{ pkg.dataset_creation_date }}"
          data-datasetpublicationdate="{{ pkg.dataset_creation_date }}"
          data-datasetmodificationdate="{{ pkg.dataset_modification_date }}"
          data-datasetlicense="{{ pkg.license_title }}"
          data-resourcetitle="{{ res.name or res.description }}"
          data-resourceurl="{{ res.url }}"
          data-resourceformat="{{ res.format }}"
          data-resourcecrs="{{ res.crs }}"
        >
          <a class="btn btn-primary" data-toggle="tooltip" title="Télécharger">
            <i class="fa fa-lg fa-arrow-circle-o-down"></i>
          </a>
        </span>
      {% endif %}

    {% endif %}
  </div>
  {% endif %}
  {% endblock %}
</li>
