{% ckan_extends %}

{% block facet_list_heading %}
    <h2 class="module-heading">
        <i class="fa fa-filter" aria-hidden="true"></i>
        {% set title = title or h.get_facet_title(name) %}
        {{ title }}
        <br>
        <a id="sortFacetAlpha" class="sort-action sortFacetAlpha"><i class="fa fa-sort" aria-hidden="true"></i> <span>A-Z</span></a>
        <a id="sortFacetCount" class="sort-action sortFacetCount"><i class="fa fa-sort" aria-hidden="true"></i> <span>1-9</span></a>
        <a href="{{ h.remove_url_param(name, extras=extras, alternative_url=alternative_url) }}" class="action clear-all-action">
            <i class="fa fa-times" aria-hidden="true"></i> filtres
        </a>
    </h2>
{% endblock %}
