{% ckan_extends %}

{% block search_title %}
  {% if not error %}
   	<h2>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
  {% else %}
   	<h2>Error</h2>
  {% endif %}
  {% if type == 'dataset' %}
	<span id="download-datasets" class="btn-group">
  	  <button class="btn" data-toggle="dropdown">
    	Exporter <i class="fa fa-lg fa-download" aria-hidden="true"></i>	
      </button>
      <ul class="dropdown-menu">
		<li>
		  <div><b>Télécharger les données</b></div>
		</li>
    	<li>
          <a href="{{ h.proxy_export('odl', request.params) }}" target="_blank"><span>Format ODL</span></a>
          <a href="{{ h.proxy_export('datasud', request.params) }}" target="_blank"><span>Format DataSud</span></a>
        </li>
      </ul>
    </span>
  {% endif %}
{% endblock %}


{% block search_facets %}
    {% if facets %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] %}
          <span class="facet">{{ facets.titles.get(field) }} :</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {#- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -#}
                {# h.list_dict_filter(search_facets_items, 'name', 'display_name', value) #}
                {% set initial_label = h.list_dict_filter(search_facets_items, 'name', 'display_name', value) %}
                {% set schema = h.scheming_get_dataset_schema('dataset') %}
                {% set label = label_function(value) if label_function else value %}

                {% for field_schema in schema.dataset_fields if field_schema.field_name == field %}
                    {% if field_schema.choices %}
                    	{% for choice in field_schema.choices if choice.value == value %}
                        	{{ choice.label }}
                        {% endfor %}
                    {% else %}
                        {{ label }}
                   	{% endif %}
				{% else %}
                	{{ initial_label }}
                {% endfor %}
              {#- endif -#}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>
      <a class="show-filters btn btn-default">{{ _('Filter Results') }}</a>
    {% endif %}
{% endblock %}

~
~
~
~
~
~
~
~
~
~
~
~
