{% extends "page.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content">
	  {% set error_code = c.code[0] %}
      <div class="error_message">
  	    <h1>
		  Erreur {{ error_code }} <i class="fa fa-exclamation" aria-hidden="true"></i>
	    </h1>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span> 
	      {% if error_code == '400' %}
		    La syntaxe de la requête est incorrecte.
          {% elif error_code == '401' or error_code == '403' %}
		    Vous n'êtes pas autorisé à acceder à cette page.
	      {% elif error_code == '404' %}
		    La ressource demandée est introuvable.
	      {% elif error_code == '500' %}
		    Une erreur interne est survenue.  
	      {% else %}
		    Une erreur s'est produite.
	      {% endif %}
        </span>
      <div>
	</div>
  </article>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}

{% block secondary %}{% endblock %}
