{% set href_accessibility = h.idgotheme_href_accessibility() %}
{% set href_terms_and_conditions = h.idgotheme_href_accessibility() %}
{% set href_legal_notices = h.idgotheme_href_accessibility() %}
{% set href_contact = h.idgotheme_href_accessibility() %}
{% set href_site_map = h.idgotheme_href_credit() %}
{% set href_credit = h.idgotheme_href_credit() %}
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="wrap">
    <div class="widget-area" role="complementary">
      <div class="widget-column footer-widget-1">
        <section id="nav_menu-2" class="widget widget_nav_menu">
          <div class="menu-menu-footer-container">
            <ul id="menu-menu-footer" class="menu">{% if href_accessibility %}
              <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="{{ href_accessibility }}">Accessibilité</a>
              </li>{% endif %}{% if href_legal_notices %}
              <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="{{ href_legal_notices }}">Mentions légales</a>
              </li>{% endif %}{% if href_terms_and_conditions %}
              <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="{{ href_terms_and_conditions }}">Conditions d&#8217;utilisation</a>
              </li>{% endif %}{% if href_site_map %}
              <li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-60">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="{{ href_site_map }}">Plan du site</a>
              </li>{% endif %}{% if href_contact %}
              <li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="{{ href_contact }}">Contactez-nous</a>
              </li>{% endif %}{% if href_credit %}
              <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                <i class="fa fa-caret-right" aria-hidden="true"></i>
                <a href="{{ href_credit }}">Crédit</a>
              </li>{% endif %}
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="site-info">
    <div class="wrap">
      © Tous droits réservés - <span id="current-year"></span> - <a href="http://www.neogeo.fr" target="_blank">Neogeo Technologies</a>
    </div>
  </div>
</footer>
<script>
(function() {
  with (this) {
    document.getElementById("current-year").textContent = (new Date()).getFullYear();
  }
})();
</script>